* {
    box-sizing: border-box;
}


.background1 {
    background-image: url("background.jfif");
    background-size: cover;
    background-repeat: no-repeat;

}

@font-face {
    font-family: "jacquesFrancois";
    src: url("JacquesFrancois-Regular.ttf");
}



@font-face {
    font-family: "kameron";
    src: url("Kameron-Regular.ttf");
}


@font-face {
    font-family: "karma";
    src: url("Karma-Regular.ttf");
}





	.gradientText2 {
        font-family: "jacquesFrancois";
        font-size: 156px;
    	background: linear-gradient(270deg,rgba(255,0,77,0.44) 0%, rgba(10,65,125,0.44) 40%, rgba(222,27,168,0.44) 70%);
    	background-clip: text;
    	color: transparent;
        position: absolute;
        margin-top: -8px;
        margin-left: 7px;
        line-height: 250.58px;
    }
    
    
    .gradientText {
        font-family: "jacquesFrancois";
        font-size: 156px;
        background: linear-gradient(270deg,rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 40%, rgba(255,255,255,1) 80%);
        background-clip: text;
        color: transparent;
    }


       
    .gradientText3 {
        font-family: "kameron";
        font-size: 29px;
        font-weight: 400;
        background: linear-gradient(180deg,rgba(255,255,255,1) 0%, rgba(255,255,255,0) 95%);
        background-clip: text;
        color: transparent;
    }
  

     